{% load widget_tweaks i18n %}

<div id="settingsContent" class="space-y-6">
    <div>
        <h3 class="text-lg font-medium">Account</h3>
    </div>
    <div data-orientation="horizontal" role="none" class="shrink-0 border-b h-[1px] w-full my-6"></div>
    <div id="alert-message"></div>
    <form x-show="activeTab == 'Account'" class="space-y-8" method="post" hx-post="{% url 'update_account' %}" hx-target="#alert-message">
        {% csrf_token %}
        <div class="flex flex-col space-y-4">
            <div>
                <label for="id_username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ user_account_form.username.label_tag}}</label>
                {% render_field user_account_form.username class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
            </div>
        </div>
        <div class="w-full flex justify-end mt-4">
            <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary-700 text-white shadow hover:bg-primary-700/90 h-9 px-4 py-2"
                type="submit">Update account</button>
        </div>
    </form>
</div>